<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Ingreso de Productos</title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/css/estilos.css">
    <script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"></script>
</head>

<body>
    <div class="container mt-3">
        <h1 class="alert alert-success">
            <div class="text-left">
                <button class="btn btn-success my-3" onclick="location.href = '/login'">Ir a Login</button>
            </div>
        </h1>
    </div>

    <div class="container mt-3">
        <div class="jumbotron">

            <div class="table-responsive">
                <div id="info" class="center_button title">
                    <% info.forEach((info)=> { %>
                        <tr>
                            <th>SISTEMA OPERATIVO</th>
                            <td>
                                <%= info.sistemaOperativo %>
                            </td>
                            <hr>
                            <th>VERSION</th>
                            <td>
                                <%= info.version %>
                            </td>
                            <hr>
                            <th>MEMORIA</th>
                            <td>
                                <%= info.memoria %>
                            </td>
                            <hr>
                            <th>PATH</th>
                            <td>
                                <%= info.path %>
                            </td>
                            <hr>
                            <th>PID</th>
                            <td>
                                <%= info.pid %>
                            </td>
                            <hr>
                            <th>CARPETA PROYECTO</th>
                            <td>
                                <%= info.carpeta %>
                            </td>
                            <hr>
                        </tr>
                        <tr>
                        </tr>
                        <% }) %>
                </div>
            </div>


        </div>

    </div>

    <script src="../../public/js/main.js"></script>

</body>

</html>